
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body{
    background: linear-gradient(0.25turn, #cac7c7, #cec5c5, #464444, #c0bcbc);
    
  }

.bg-image{
    position:relative;
    background-position: center;
    background-size: cover;
}


.mb-3{
    padding: 20px 20px;
    margin: 20px;
    
}


.card{
    box-shadow: 0 0 20px 0 black;
    transition: all 300ms ease;
    border-radius: 2px;

}.card{
    display:flex;
    flex-direction:column;
    width:450px;
    height: 600px;
    max-width: 100%;
    margin-bottom: 5px;
    
}

.card-img-top{
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;

}



.cardColor{
    background-color: rgba(255, 255, 0, 0.635);
}

footer{
    padding:10px 10px;
    background-color: black;
    }

footer p {
    color:aliceblue;
    text-align:center;
    margin-top: 4px;
}


.label{
    color:aliceblue;
}


a{
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid aliceblue;
    color:aliceblue;
}

#links{
   text-align: center;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    .card{
        display:flex;
        flex-direction:column;
        width:500px;
        height: 600px;
        max-width: 100%;
        margin-bottom: 5px;
        
    }
    
    .card-img-top{
      width: 100%;
      height: 100%;
      max-width: 450px;
      max-height: 200px;
      object-fit: cover;
    
    }

    .card-body{
        padding:0px;
    }
}

  @media screen and (min-width: 481px) and (max-width: 768px){
    
    .card{
        display:flex;
        width: 600px;
        height: 550px;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 2px;
        
    }
    
    .card-img-top{
      width: 100%;
      height: 100%;
      max-width: 320px;
      max-height: 150px;
      object-fit: cover;
    
    }

    .card-body{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 300px;
        padding:20px;
    
    }
   
    
    .mb-3{
        padding: 0;
    }
    .mask{
        width: 100%;
        background-color:  rgba(72, 69, 69, 0);

    }
   
   } 


   @media screen and (max-width:480px){
    .mb-3{
        padding: 10px;
    
    } 
    .mask{
        max-width: 100%;
        background-color:  rgba(72, 69, 69, 0);
    }

    .card-body{
        padding:20px;
    }

    .label{
        max-width: 100%;
    }

    input{
        max-width: 100%;
    }
    
    }

